@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  font-family: "Open";
  color: #333;
}
.header {
  background-color: #d2ab99;
  padding: 20px;
  /* margin: 10px; */
  width: auto;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: gray;
}
.content {
  margin: 1px auto;
  padding: 10px;
  background-color: #bdbea9;
}

.about {
  overflow: scroll;
  display: block;
  background-color: #8db38b;
  padding: 20px;
  height: 300px;
}
.footer {
  background-color: #d2ab99;
  padding: 20px;
}
.profile-pic {
  height: 150px;
  float: left;
  margin-right: 50px;
  border-radius: 100px;
}
.bio-desc {
  padding-left: px;
}
.projects {
  overflow: scroll;
}
.horiseon {
  width: 100%;
}
.password-gen {
  width: 100%;
}
.workday {
  width: 100%;
}
.code-quiz {
  width: 100%;
}
.marvel {
  width: 100%;
}
.resume {
  text-align: center;
}
.resume_image {
  width: 100%;
}
.contact {
  text-align: center;
  color: white;
}
