@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  font-family: "Open";
  color: #333;
}
.header {
  background-color: brown;
  padding: 20px;
  margin: 10px;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: gray;
}
.content {
  margin: 1px auto;
  padding: 10px;
}

.about {
  background-color: aqua;
  padding: 20px;
}
.footer {
  background-color: brown;
  padding: 20px;
  margin: 10px;
}
